- content_for :title do
  Stack ##{ @stack.id }

- content_for :header do
  %h1= @stack.name
  %p.lead Stack ##{ @stack.id }

- content_for :body do
  .container
    %h1 Chronotriggers
    %a.btn.btn-primary-outline{ href: "/stacks/#{ @stack.id }/chronotriggers/new" }
      New

    - if @stack.chronotriggers.any?
      = partial 'chronotriggers/table', locals: { chronotriggers: @stack.chronotriggers }
    - else
      %p
        This stack has no chronotriggers yet
