- content_for :title do
  Stack: #{ @stack.name }

- content_for :header do
  %h1 Stack: #{ @stack.name }

- content_for :body do
  .container
    .navbar.navbar-full.navbar-light.bg-faded
      %ul.nav.navbar-nav.pull-xs-right
        %a.btn.btn-primary-outline{ href: "/stacks/#{ @stack.id }/edit" }
          Edit
        %a.btn.btn-danger-outline{ href: "/stacks/#{ @stack.id }", data: { method: 'delete', confirm: 'Are you sure you want to delete this stack?' } }
          Delete

    %br

    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{ href: "/stacks/#{ @stack.id }" }
          Frames
      %li.nav-item
        %a.nav-link{ href: "/stacks/#{ @stack.id }/chronotriggers" }
          Chronotriggers

    .tab-content
      .tab-pane.active#frames
        .navbar.navbar-full.navbar-light.bg-faded
          %h1.navbar-brand Frames
          %ul.nav.navbar-nav.pull-xs-right
            %a.btn.btn-primary-outline{ href: "/stacks/#{ @stack.id }/frames/new" }
              New

        - if @stack.frames.any?
          = partial 'frames/table', locals: { frames: @stack.frames_dataset.order_by(:position) }
        - else
          %p
            This stack has no frames yet
