!!!
%html
  %head
    %meta{ 'charset' => "utf-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge" }
    %meta{ 'name' => "viewport", 'content' => "width=device-width, initial-scale=1" }

    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", integrity: "sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", crossorigin: "anonymous" }
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", media: "all" }
    -#%link{ rel: 'stylesheet', href: '/static/styles.css' }

    - if content_for? :css
      :css
        = yield_content :css

    - if content_for? :title
      %title #{ yield_content :title } - Mr Markov
    - else
      %title Mr Markov

  %body{ data: { 'react-router-url' => yield_content(:react_router_url) } }
    = partial :header

    - if content_for? :body
      = yield_content :body

    = partial :footer

  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
  %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.1/rails.min.js" }
  %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js", integrity: "sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7", crossorigin: "anonymous" }
  %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js" }
  %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js" }

  :javascript
    $(document).ready(function() {
      var tzName = moment.tz.guess()

      $(".utc-time").each(function(idx, node) {
        jnode          = $(node)

        var rawTime    = jnode.text()
        var momentTime = moment.utc(rawTime, 'HH:mm:ss').tz(tzName)
        var localTime  = momentTime.format('hh:mm A z')

        jnode.text(localTime)
      })

      document.cookie = "tzname="+tzName+"; expires="+moment.utc().add(1, 'hour').toDate().toGMTString();+"; path=/";
    })

  - if content_for? :javascript
    :javascript
      = yield_content :javascript
